<ion-header>
  <ion-toolbar>
    <ion-title>Data acara</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>

<ion-card *ngFor="let acara of acaras">
  <ion-card-header>
    <ion-card-subtitle>Mulai: {{acara.tanggal_Mulai}}, Akhir: {{acara.tanggal_Selesai}}</ion-card-subtitle>
    <ion-card-title>{{acara.nama_Acara}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Deskripsi: {{acara.deskripsi_Acara}},
    Jenia acara: {{acara.jenis_Acara}}
    Lokasi Acara: {{acara.lokasi_Acara}}
  </ion-card-content>
</ion-card>



<ion-infinite-scroll  (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>